# Preface

## ðŸ¼ ?

- Popular library for analyzing _tabular data_.
	- Tabular: rectangular, has rows and columns.
- _Expressive_ and _full-featured_.
	- Readable syntax
	- Lots of convenience functions

ðŸ¼: _panel data, apparently._ ^[https://www.dlr.de/sc/Portaldata/15/Resources/dokumente/pyhpc2011/submissions/pyhpc2011_submission_9.pdf]

## Pros and Cons

:::: {.columns}

::: {.column}
**Reasons to use**

- Support for **many** file types
- Integrated into data analysis ecosystem
- Balance of verbosity and function
- Complex time-series and hierarchically indexed data functionality
:::

::: {.column}
**Reasons not to use**

- Struggles with larger datasets (>1M rows)
- Significant overhead
- Memory-intensive
- CPU-only

:::

::::

## Running Scenario

- Analyzing student scores and sending summary reports
- Two datasets:
	- `data/scores.csv`: students' scores in 5 subjects
	- `data/contacts.csv`: students' contact details

## Functionality Covered

- How do I read in data from files?
- How do I select and filter values?
- How do I perform calculations on data?
- How do I merge/combine data from multiple sources?

# Importing Libraries

_A brief aside on a first step that tends to get overlooked._

## Libraries

- Functionality of base Python is limited for data analysis workflow
- Python language is extensible, benefits from enormous ecosystem
- `pandas` is a _library_ for data analysis

## `import`

- To use a library, we need to `import` it:

In [1]:
import pandas

- In Jupyter, we can use `%who` to list objects in the global namespace

In [2]:
%who

pandas

- The methods within pandas are now accessible as _methods_ of the imported _module_.

In [3]:
pandas.__version__

'1.5.3'

## `from`

- We can use the `from` command to import objects and methods directly from modules into the global namespace.

In [4]:
from pandas import __version__
print(__version__)

1.5.3

## `as`

- The default approach in Python is to keep fewer objects in the global namespace.
- This means always prefacing the function or class we want to use with the prefix name.
- This can get verbose, so we often abbreviate library names with `as`:

In [5]:
import pandas as pd
print(pd)
print(pd.DataFrame)

<module 'pandas' from '/usr/local/lib/python3.10/dist-packages/pandas/__init__.py'>
<class 'pandas.core.frame.DataFrame'>

## Contrast with `R`

- In `R`, the default approach is to import all methods from a library into the global namespace.
- If we did this with `pandas` it would look like this:

In [6]:
from pandas import *
%who

ArrowDtype	 BooleanDtype	 Categorical	 CategoricalDtype	 CategoricalIndex	 DataFrame	 DateOffset	 DatetimeIndex	 DatetimeTZDtype
ExcelFile	 ExcelWriter	 Flags	 Float32Dtype	 Float64Dtype	 Grouper	 HDFStore	 Index	 IndexSlice
Int16Dtype	 Int32Dtype	 Int64Dtype	 Int8Dtype	 Interval	 IntervalDtype	 IntervalIndex	 MultiIndex	 NA
NaT	 NamedAgg	 Period	 PeriodDtype	 PeriodIndex	 RangeIndex	 Series	 SparseDtype	 StringDtype
Timedelta	 TimedeltaIndex	 Timestamp	 UInt16Dtype	 UInt32Dtype	 UInt64Dtype	 UInt8Dtype	 api	 array
arrays	 bdate_range	 concat	 crosstab	 cut	 date_range	 describe_option	 errors	 eval
factorize	 from_dummies	 get_dummies	 get_option	 infer_freq	 interval_range	 io	 isna	 isnull
json_normalize	 lreshape	 melt	 merge	 merge_asof	 merge_ordered	 notna	 notnull	 offsets
option_context	 options	 pandas	 pd	 period_range	 pivot	 pivot_table	 plotting	 qcut
read_clipboard	 read_csv	 read_excel	 read_feather	 read_fwf	 read_gbq	 read_hdf	 read_html	 read_json
read_orc	 read_parquet	 read_pickle	 read_sas	 read_spss	 read_sql	 read_sql_query	 read_sql_table	 read_stata
read_table	 read_xml	 reset_option	 set_eng_float_format	 set_option	 show_versions	 test	 testing	 timedelta_range
to_datetime	 to_numeric	 to_pickle	 to_timedelta	 tseries	 unique	 value_counts	 wide_to_long

## Cleanup

In [7]:
%reset -f

In [8]:
import pandas as pd # normal way of importing

In [9]:
# For colab: we need to replace paths to files with urls to the location on github
data_url = "https://raw.githubusercontent.com/mmjh-dev/ds3-intro-python/main/"

# Getting Your Data

## Manual `DataFrame`

- Can be constructed manually from a `dict` of equal-length `list`s.

In [11]:
scores_dict = {
	'student_id': ['5a01', '5a12', '5b05', '5b10', '5e04'],
	'math':    [95, 78, 85, 90, 88],
	'english': [97, 91, 86, 89, 90],
	'history': [80, 89, 94, 87, 85],
	'biology': [81, 86, 88, 99, 88],
	'art':     [86, 81, 82, 91, 84]
}

## Manual `DataFrame`

In [16]:
df = pd.DataFrame(data=scores_dict)
df

  student_id  math  english  history  biology  art
0       5a01    95       97       80       81   86
1       5a12    78       91       89       86   81
2       5b05    85       86       94       88   82
3       5b10    90       89       87       99   91
4       5e04    88       90       85       88   84

## Reading from a file

`pandas` comes with functions for reading and writing to all kinds of data formats. A quick list can be viewed using tab completion:

In the cell below, type `pd.read_` and then press the \<TAB\> key

## Data IO: `read_csv`

In [13]:
df = pd.read_csv(data_url+"data/scores.csv")
df

  student_id  math  english  history  biology  art
0       5a01    95       97       80       81   86
1       5a12    78       91       89       86   81
2       5b05    85       86       94       88   82
3       5b10    90       89       87       99   91
4       5e04    88       90       85       88   84

# Selecting Data

- "What were everyone's `math` scores?"
- "What did student `5a12` get on all subjects?"
- "What did `5a12` and `5e04` get on `history` and `art`?"

## Columns and Index

- Entries indexed by columns and rows

In [17]:
df

  student_id  math  english  history  biology  art
0       5a01    95       97       80       81   86
1       5a12    78       91       89       86   81
2       5b05    85       86       94       88   82
3       5b10    90       89       87       99   91
4       5e04    88       90       85       88   84

## `df.columns` and `df.index`

- These can be accessed through following:

In [18]:
df.columns

Index(['student_id', 'math', 'english', 'history', 'biology', 'art'], dtype='object')

In [19]:
df.index

RangeIndex(start=0, stop=5, step=1)

- By default dataframes have a numerical index.

## Setting the Index

- `df.set_index()` returns dataframe with new index

In [20]:
df = df.set_index('student_id')
df.index

Index(['5a01', '5a12', '5b05', '5b10', '5e04'], dtype='object', name='student_id')

In [21]:
df

            math  english  history  biology  art
student_id
5a01          95       97       80       81   86
5a12          78       91       89       86   81
5b05          85       86       94       88   82
5b10          90       89       87       99   91
5e04          88       90       85       88   84

## `.loc`

- Use `.loc` for name-based indexing.
- General syntax: `.loc[<INDEX>, <COLS>]`
	- `<INDEX>` and `<COLS>` correspond to the index and column names.
	- They can be a single value, a list, or `:` to indicate "all".
- Let's learn by example:

## Row

- "What did `5a01` get on all (`:`) exams?"

In [ ]:
df.loc['5a01', :]

In [ ]:
from IPython.display import HTML
HTML(data_url+"figures/pandas_loc_row.html")

## Column

- "What did everyone (`:`) get on `history`?"

In [ ]:
df.loc[:, 'history']

In [ ]:
HTML(data_url+"figures/pandas_loc_col.html")

## Multiple Rows

- "What did `5a01` and `5a12` (`['5a01', '5a12']`) get on all (`:`) exams?"

In [ ]:
df.loc[['5a01', '5a12'], :]

In [ ]:
HTML(data_url+"figures/pandas_loc_multi_row.html")

## Multiple Columns

- What did everyone (`:`) get on `art` and `history` (`['art', 'history']`)?

In [ ]:
df.loc[:, ['art', 'history']]

In [ ]:
HTML(data_url+"figures/pandas_loc_multi_col.html")

## Label Order

Note the order of labels changes the order of columns:

In [ ]:
df.loc[:, ['art', 'history']]

## Cell

- What did `5a01` get in `history`?

In [ ]:
df.loc['5a01', 'history']

In [ ]:
HTML(data_url+"figures/pandas_loc_cell.html")

## Multiple Values

- What did `5a01` get in `history` and `art`?

In [ ]:
df.loc['5a12', ['history', 'art']]

In [ ]:
HTML(data_url+"figures/pandas_loc_multi1.html")

## cont.

- What did `5a01`, `5a12`, and `5b05` get in `biology` and `art`?

In [ ]:
df.loc[['5a01', '5a12', '5b05'], ['biology', 'art']]

In [ ]:
HTML(data_url+"figures/pandas_loc_multi2.html")

## Filtering

"The overall scores of students who got _90 or higher in math_""

- Create a _boolean array_

In [ ]:
df.loc[:, 'math'] >= 90

## `.loc` Filtering

- `.loc` can take boolean arrays:

In [ ]:
good_math = df.loc[:, 'math'] >= 90
df.loc[good_math, :]

- Shorter syntax:

In [ ]:
df.loc[df['math'].ge(90), :]

## Combining Indexers and Filters

- `history` scores where `math` and `art` $>=$ 85

In [ ]:
df.loc[(df.loc[:, 'math']>=85) &
	   (df.loc[:, 'art']>=85),
	   'history']

## `.iloc`: locational indexing

- First 2 rows (`:2` in Python)
- Last 3 columns (`-3:`)

In [ ]:
df.iloc[:2, -3:]

# Operations

- "Is this score over 90?"
- "What was the average `math` score?"
- "What was `5b10`'s maximum score?""
- "What was the lowest score in each exam?"

## Some Terminology

Clarifying what I mean in this lecture when I say:

- _Scalar_: a single value
- _Non-scalar_: a data structure capable of containing multiple data points
- _Argument(s)_: the input(s) to a function

## `Series` and `DataFrame`

- `pd.Series` are 1-dimensional
- `pd.DataFrame` are 2-dimensional

## `Series`

- Passing a scalar to an indexer (`.loc`) on a `DataFrame` returns a `Series`

In [ ]:
df.loc[:, 'biology']

## `DataFrame`

- Passing a `list` returns a `DataFrame`

In [ ]:
df.loc[:, ['biology']]

## Arguments at Three Levels

- Scalar: "Is this score over 90?"

In [ ]:
def greater_than_90(x):
	return x > 90

- Series: "What is the maximum score on one exam?"

In [ ]:
def maximum(scores):
	return max(scores)

- Dataframe: "How many individual scores?"

In [ ]:
def how_many_elements(df):
	rows, cols = df.shape
	return rows*cols

## Convenience Functions

- `Series` and `DataFrame` objects have many common operations built-in:
  - $\ne$ (`.ne()`), $\gt$ (`.gt()`), ...
  - mean (`.mean()`), median (`.median()`), standard deviation (`.std()`), ...
- These tend to be optimized.
- See [documentation](https://pandas.pydata.org/docs/user_guide/basics.html#descriptive-statistics) for list.

## "What was the average `math` score?"

In [ ]:
df.loc[:, 'math'].mean()

## `apply` and `applymap`

- Custom functions can be applied to `Series` and `DataFrame`s using their `.apply` method.
- `pd.Series.apply`: functions with _scalar arguments_
- `pd.DataFrame.apply`: functions with `pd.Series` as an argument
	- Specify `axis`: 0 is row-wise, 1 is column-wise
- `pd.DataFrame.applymap`: functions with _scalar arguments_

## "What was the lowest score for each exam and student??"

- Lowest per exam (`axis=0`)

In [ ]:
df.min(axis=0)

- Lowest per student (`axis=1`, using built-in `min`):

In [ ]:
df.apply(min, axis=1)

## Convert Scores to A-F Ranking

In [ ]:
def convert_score(x):
	score = ''
	if x >= 90:
		score = 'A'
	elif x >= 80:
		score = 'B'
	elif x >= 70:
		score = 'C'
	elif x >= 60:
		score = 'D'
	else:
		score = 'F'
	return score

## Convert Scores to A-F Ranking

In [ ]:
df.applymap(convert_score)

# Combining Data

- How do we combine data from multiple sources?

## Two Ways

- Concatenating: sticking it together
- Joining: merging on common "key"

## We forgot two students!

In [ ]:
df_extra = pd.read_csv(data_url+'data/scores_extra.csv',
					   index_col='student_id')
df_extra

## Concatenation

In [ ]:
pd.concat([df, df_extra], axis=0)

## Different Columns

- `.reset_index()` moves the index into a column:

In [ ]:
df_extra.reset_index()

## Different Columns

- Concatenating with different columns creates NA values:

In [ ]:
pd.concat([df_extra, df_extra.reset_index()])

## Contact Details

- We want to match scores to students' first names

In [ ]:
pd.read_csv(data_url+'data/contacts.csv')

## Preparing data for joining

- The two dataframes have one column in common: the student ID.
	- In one it's `StudentID`, in the other `student_id`.
- For visual simplicity, I move `student_id` back to the columns

In [ ]:
df_contact = pd.read_csv(data_url+'data/contacts.csv')
df_scores = df.reset_index()

## Key

- Note that the two dataframes do not have the exact same values of student ID!

In [ ]:
df_contact['StudentID']

In [ ]:
df_scores['student_id']

## Merge Syntax

In [ ]:
pd.merge(
	how=<inner/left/right/outer>
	left=df_contact[['FirstName', 'StudentID']],
	right=df_scores[['student_id', 'history']],
	left_on='StudentID',
	right_on='student_id')

- We specify the two dataframes as `left` and `right`
- We specify the common key for each dataframe
	- Note if they were the same, we could use the argument `on`
- `how` is easiest to explain visually

## `how='inner'`

In [ ]:
pd.merge(
	how='inner',
	left=df_contact[['FirstName', 'StudentID']],
	right=df_scores[['student_id', 'history']],
	left_on='StudentID',
	right_on='student_id')

## `how='left'`

In [ ]:
pd.merge(
	how='left',
	left=df_contact[['FirstName', 'StudentID']],
	right=df_scores[['student_id', 'history']],
	left_on='StudentID',
	right_on='student_id')

## `how='right'`

In [ ]:
pd.merge(
	how='right',
	left=df_contact[['FirstName', 'StudentID']],
	right=df_scores[['student_id', 'history']],
	left_on='StudentID',
	right_on='student_id')

## `how='outer'`

In [ ]:
pd.merge(
	how='outer',
	left=df_contact[['FirstName', 'StudentID']],
	right=df_scores[['student_id', 'history']],
	left_on='StudentID',
	right_on='student_id')

# Exploratory Analysis

## British Election Study Data

In [ ]:
bes_df = pd.read_csv(data_url+'data/bes_data.csv')

## First-Look Functions

- When working with data, your first step should always be _getting to know the data_
	- Manually inspect samples of the data.
	- Check dimensions: are they expected?
	- Check data types: are they expected?
	- Tabulate variables: what are the levels?

## Inspect first 5 rows

In [ ]:
bes_df.head()

## What are the dimensions of the dataset?

In [ ]:
bes_df.shape

## What data types are each of the columns?

In [ ]:
bes_df.info()

## What unique values do each column contain?

- `pd.Series.value_counts()` for tabulation

In [ ]:
bes_df['female'].value_counts()

In [ ]:
bes_df['region'].value_counts()

# Recap

## `pandas`

- File I/O (reading/writing data formats)
- Indexing, slicing, filtering
- Operations on data
- Combining/merging data
- Exploratory look

# Additional Resources

## Textbook

The following sections of _Python for Data Analysis: Data Wrangling with Pandas, NumPy and IPython, 2nd edition_ are relevant to this lecture:

- 5.*: Getting Started with pandas
- 6.*: Data Loading, Storage and File Formats
- 7.1-2: Data Cleaning and Preparation
- 7.3: String Manipulation
- 12.1: Categorical Data

## Blogs, Docs

- [`pandas` guide to combining dataframes](https://pandas.pydata.org/docs/user_guide/merging.html)
- Pandas Data: https://pbpython.com/pandas_dtypes.html